 h1 {
 	color:  #667085;
 	padding-top: 20px;

 }
 h4{
	padding: 2rem;
 }
 
 #profile__img{
 width: 200px;
 height: 200x;
 border-radius: 50%;

}


#contact{
	text-decoration: none;
	color: black;
}
.container,
.Profile{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;

	 
}


.checked{
	margin: 0.5rem;
}

#message{
	 
	line-height: 1;
	width: 35rem;
	font-size: 1rem;
	height: 8rem;
	border:1px solid #000;
	margin: 0.5rem;
	border-radius: 1rem;
	padding: 1rem;
}


#first_name,
#last_name,
#email{
	color: #667085;
	font-size: 1rem;
	width: 35rem;
	height: 2rem;
	border: 1px solid #000;
	padding: 1.5rem;
	border-radius: 1rem;
}
 
#email,
#message {
	color: #D0D5DD;
	 
	 
}
 

#btn__submit{
	font-size: 1rem;
	width: 35rem;
	height: 4rem;
	background-color: blue;
	color: #ffffff;
	margin:2rem 2rem;
	border-radius: 2rem;
}

#btn__zuri,
#book__python,
#book__design,
#pitch,
#twitter__link,
#contact{
	 
	width: 35rem;
	height: 4rem;
	display: flex;
	color:#000;
	cursor: pointer;
	border-radius: 1rem;
	background-color: #eaecf0;
    justify-items: center;
	align-items: center;
	margin: 2rem;
}

 .icons{  
	  display: grid;
	 grid-template-columns:  5% 5%;
	  justify-content: center;
	  padding-bottom: 1rem;
 }
	
a{
	text-decoration: none;
	color: #000;
	 
}

.footerr {
 
 display: flex;
 flex-grow: 1;
 padding: 20px 0;
 justify-content: space-around;
 
 

}
@media screen and (max-width: 900px) {
	#profile__img {
		width: 150px;
		height: 100x;
		border-radius: 50%;
	}

	h1 {
		font-size: 2rem;
		padding: 2rem;
	}

	.container,
	.Profile {
		padding: 1rem;
		justify-content: center;
		align-items: center;
		gap: 24px;


	}

	#first_name,
	#last_name,
	#btn__submit,
	#message,
	#email {
		width: 20rem;
		height: 4rem;
	}

	#btn__zuri,
	#book__python,
	#book__design,
	#pitch,
	#twitter__link,
	#contact {
		width: 35rem;
		height: 4rem;
		font-size: 1rem;
		text-align: center;

	}


	.footerr {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	    padding: 2rem;
	 


	}

	.footer__icon {
		height: 2rem;
		width: 10rem;

	}

}

@media screen and (max-width: 600px) {
	#profile__img {
		width: 80px;
		height: 100x;
		border-radius: 50%;
	}

	.container,
	.Profile {
		padding: 2rem ;
		justify-content: center;
		align-items: center;
		padding: 2rem;


	}

	#btn__zuri,
	#book__python,
	#book__design,
	#pitch,
	#twitter__link,
	#contact {
		width: 20rem;
		height: 4rem;
		font-size: 1rem;
		text-align: center;

	}



	h1 {
		font-size: 20px;
	}

	 

	.footerr {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 2rem;



	}

	.footer__icon {
		height: 2rem;
		width: 10rem;

	}


}
