 
 
 #profile__img{
 width: 200px;
 height: 200x;
 border-radius: 50%;
}

.Profile{
 margin: 5rem 40rem;
	
}

h1{
	color: rgb(124, 19, 19);
	padding-top: 20px;
	 
}
#contact{
	text-decoration: none;
	color: black;
}

#btn__zuri,
#book__python,
#book__design,
#pitch,
#twitter__link,
#contact{
	padding: 10px 10px;
	max-width: 50%;
	height: 50%;
	display: flex;
	color:#000;
	cursor: pointer;
	border-radius: 1rem;
	background-color: #eaecf0;
    justify-items: center;
	align-items: center;
	margin: 2rem;
}
.zuri__btn{
	 
margin: 5rem 10rem 0 20rem;
width: 100%;
 	
  
}
 .icons{  
	  display: grid;
	 grid-template-columns:  5% 5%;
	  justify-content: center;
 }
	 
 
@media screen and (max-width: 1150px) {
	#btn__zuri,
	#book__python,
	#book__design,
	#pitch,
	#twitter__link {
		width: 20rem; 
		height: 4rem;
		font-size: 1rem;
		margin-left: 2.5rem;
		text-align: center;
		 
	}

	.Profile{
		margin: 1rem 27rem;
		padding-top: 1rem;
	}

	.icons {
		 display: grid;
		 grid-template-columns: 5% 5%;
		 justify-content: center;
		 
	}

.footerr {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 25rem;
	font-size: medium;


}

.footer__icon {
	height: 2rem;
	width: 10rem;

}

}

 @media screen and (max-width: 900px) {
    #profile__img {
    	width: 150px;
    	height: 100x;
    	border-radius: 50%;
    }
	h1{
		font-size: 2rem;
	}


 	#btn__zuri,
 	#book__python,
 	#book__design,
 	#pitch,
 	#twitter__link {
 		width: 20rem;
 		height: 4rem;
 		font-size: 1rem;
 		margin-left: 2.5rem;
 		text-align: center;

 	}

 	.Profile {
 		margin: 1rem 27rem;
 		padding-top: 1rem;
 	}

 	.icons {
 		justify-content: space-around;
 		padding-left: 28rem;
		margin-right: 10rem;
 	}

 	.footerr {
 		display: flex;
 		flex-wrap: wrap;
 		flex-direction: column;
 		margin-left: 25rem;
 		font-size: medium;


 	}

 	.footer__icon {
 		height: 2rem;
 		width: 10rem;

 	}

 }

  @media screen and (max-width: 600px) {
    #profile__img {
    	width: 80px;
    	height: 100x;
    	border-radius: 50%;
    }
	 
  	#btn__zuri,
  	#book__python,
  	#book__design,
  	#pitch,
  	#twitter__link {
  		max-width: 15rem;
  		height: 4rem;
  		font-size: 1rem;
  		margin-right: 35rem;
  		text-align: center;

  	}

  	.Profile {
  		margin: 1rem 27rem;
  		 
  	}
   
	h1{
		font-size: 20px;
	}
  	.icons {
  		justify-content: space-around; 
  		 padding-left: 25rem;
		 margin-right: 3rem;
  	}

  	.footerr {
		  display: flex;
		  flex-wrap: wrap;
		  flex-direction: column;
	      margin-left: 25rem;
		  font-size: medium;
		 
		 
  	}
	.footer__icon{
      height: 2rem;
	  width: 10rem;
	 
	}

   
  }


  
a{
	text-decoration: none;
}

a:hover{
	color: blue;
}
 
.footerr {
 
 display: flex;
 flex-grow: 1;
 padding: 20px 0;
 justify-content: space-around;
 
 

}